
.title1
{
  border:2px solid;

  color:black;
    font-size: 33px;
  text-align: center;
width: 150px;
margin-top: auto;
margin-inline-start: auto;
background-color: rgb(172, 141, 146);
}
  .title2
  {
    background-color:rgb(165, 62, 62);
    border:2px solid black;
  
    color:white;
      font-size: 33px;
    text-align: center;
width: 150px;
margin-top: auto;
margin-inline-start: auto;
  }
  .title3
  {
    background-color:rgb(216, 187, 134);
    border:2px solid;
  
    color:black;
      font-size: 33px;
    text-align: center;
width: 150px;
margin-top: auto;
margin-inline-start: auto;
  }

  header{
  
  text-align: center;
  font-size:  30px ;
  }
  .columns{
  display: flex;
  flex-flow:row wrap ;
  justify-content: center;
 
  font-size: 22px;

  }

  .column{
    flex: 1;
  
   margin: 10px ;
  
   background-color: rgb(160, 160, 160);

   text-align:left;
   font-size: larger;
 
  border:2px solid;
  
  
  }
   
  @media screen and (max-width:970px) {
    
  
    .column { 
      
      flex-basis:40%;
    }S
    .column:nth-last-child(3){
      margin-right: 0;
  
     
    }
  
  }
  @media screen and (max-width:700px){
  
    .column {
      flex-basis: 100%;
      
      
    }
  
  }
  